<!--views/articles/edit.ejs-->
<!DOCTYPE html>

<html>
  <head>
  </head>
  <body>
    <h1>Edit an article</h1>
    <form method="post" action="/articles/<%= article.id %>?_method=PUT">
      <input type="text" name="article[title]" placeholder="Article title" value="<%= article.title %>"><br />
      <%= article.Author.first_name %> <%= article.Author.last_name %><br>

<!--       <input type="text" name="article[author]" placeholder="Article author" value="<%= article.Author.first_name %> <%= article.Author.last_name %>"><br />
 -->      
      <textarea name="article[content]">
      	<%= article.content %>
      </textarea><br />
      <button>Save </button>
    </form>

<div>
  <a href="/articles">Articles</a><br>
  <a href="/authors">Authors</a><br>
  <a href="/about">About</a><br>
  <a href="/contact">Contact</a><br>
</div>

  </body>
</html>
